@import "tailwindcss";


*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
.navbar{
     height: 80px;
     width: 100%;
     background-color: lightblue;
     color: black;
     display: flex;
     justify-content: space-around;
     align-items: center;

}
.navbar .menu ul{
     display: flex;
     list-style: none;
     gap: 20px;

}
.menu ul li{
     font-size: 18px;
}

.btn button{
     padding: 6px 18px;
     background-color: rgb(24, 73, 121);
     color: white;
     font-size: 18px;
     margin-right: 5px;
     border-radius: 10px;
     border: none;
     
}
